<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body{

            color: blue;
            font-size: 25px;
            font-family: "Aharoni";
            text-align: center;
        }
    </style>
</head>
<body>
<table align="center"border="2">
    <tr>
        <th width="250"class="body"style="background-color: red">Login</th>
        <th width="250"class="body"style="background-color:red">
            <a href="{% url 'register' %}">Register</a>
        </th>
    </tr>
</table>
</body>
</html>